/*button{*/
/*    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px !important;*/
/*}*/

.crud-btns{
    width: 135px;
}
.btn-glass {
    transition: all 0.3s ease;
}
.btn-glass:hover {
    transform: translateY(-2px);
}



#btn-logout-tab{
    transition: all 0.3s ease;
    background: transparent;
}
#btn-logout-tab:hover{
    background: rgb(255, 0, 0);
    transform: translateY(-2px);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}



/* Smooth fade transition */
.section {
    opacity: 0;
    transform: translateY(50px); /* slide in from right */
    transition: all 0.6s ease;
    display: none; /* hidden by default */
}

.section.active {
    display: block;
    opacity: 1;
    transform: translateY(0); /* slide to normal position */
}
