body{
    background-image: url('../Web_Pos/assets/images/bg.jpg') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover !important;

}

.crud-btns{
    width: 135px;
}
.btn-glass {
    transition: all 0.3s ease;
}
.btn-glass:hover {
    transform: translateY(-2px);
}

#btn-logout-tab{
    transition: all 0.3s ease;
    background: transparent;
}
#btn-logout-tab:hover{
    background: rgb(255, 0, 0);
    transform: translateY(-2px);
}

/* Smooth fade transition */
.section {
    opacity: 0;
    transform: translateY(50px); /* slide in from right */
    transition: all 0.6s ease;
    display: none; /* hidden by default */
}

.section.active {
    display: block;
    opacity: 1;
    transform: translateY(0); /* slide to normal position */
}

.transparent{
    background: transparent;
}

.low-opacity{
    opacity: 90%;
}

td{
    background: silver;
}
